* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: #e9ecef;
}

#language, #currency-barHead {
  background-color: transparent;
}

.social-Head {
  color: #343a40;
  font-size: 14px;
}

.phone-Head i {
  color: #343a40;
  background-color: #e9ecef;
  border-color: #343a40;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .home-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .home-dropdown-content .home-dropdown {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.home-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .home-dropdown-content {
  display: block;
}

#nav-bar-search {
  border-bottom: 1px solid #868e96;
  outline: none;
  font-size: 18px;
}

#nav-bar-input {
  margin-left: 400px;
}
#nav-bar-input i {
  margin-right: 20px;
  color: #868e96;
}

.icon-notification {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  top: 75px;
  right: 145px;
  background-color: #917b32;
}

.icon-notification-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #917b32;
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  top: 75px;
  right: 100px;
}

.nav-bar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.097);
}

.nav-bar-right-icon li {
  font-size: 22px;
}
.nav-bar-right-icon .fa-bars {
  color: #bcac76;
}
.nav-bar-right-icon a:hover {
  color: #bcac76;
  transition: 0.3s;
}

.row-Header-left, .row-Header-right {
  background-color: rgba(211, 211, 211, 0.244);
}

.row-card-body-input input {
  border: 1px solid rgba(128, 128, 128, 0.375);
}

.section-middle-home-link a:hover {
  text-decoration: underline;
  color: #917b32;
}

.log-in-btn {
  background-color: rgba(0, 0, 0, 0.811);
  letter-spacing: 3px;
  color: white;
  font-family: "Manrope", sans-serif;
}
.log-in-btn i {
  color: white;
}

.log-in-btn:hover {
  background-color: black;
  transition: 0.7s;
}

.div-col-left, .div-col-right {
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.15);
}

.newsletter-form-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.319);
}

.newsletter-form-div:hover {
  border-bottom: 1px solid black;
  transition: 0.7s;
}

.footer-company-links a, .footer-shop-links a, .footer-account-links a {
  position: relative;
}
.footer-company-links a::after, .footer-shop-links a::after, .footer-account-links a::after {
  content: "";
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.5s;
  color: black;
}
.footer-company-links a:hover, .footer-shop-links a:hover, .footer-account-links a:hover {
  color: black;
  transition: 0.5s;
}
.footer-company-links a:hover::after, .footer-shop-links a:hover::after, .footer-account-links a:hover::after {
  width: 100px;
}

.footer-right-text a:hover {
  border-bottom: 1px solid #868e96;
  transition: 0.5s;
}
